<div class="!tw-bg-[#ffffff] tw-flex tw-flex-row tw-w-full tw-justify-between ">
  <h2 mat-dialog-title data-test="dialog-title">
    @if (taskFormComponent.status === 'view') {
      <span>Task Detail</span>

      <mat-checkbox
        [checked]="_DATA?.status === 'done' ? true : false"
        (click)="markAsComplete()"
        class="example-margin tw-ml-[12px]"
        aria-label="Mark {{ _DATA?.title }} as {{
          _DATA?.status === 'done'
            ? 'Completed Task'
            : 'Not completed yet'
        }}"
        data-test="list-checkbox-complete"
      />

      @if (_DATA?.status === 'done') {
        <span class="tw-text-[16px] tw-text-[#1aa318]">DONE</span>
      }
    }
    @else if (taskFormComponent.status === 'update') {
      <span>Update Task</span>
    }
    @else if (taskFormComponent.status === 'add') {
     <span>Add a New Task</span>
    }
  </h2>
  <div class="tw-flex tw-items-center">
    @if (taskFormComponent.status === 'view') {

      <!-- @if (_DATA.status !== 'done') {
        <button
          mat-button
          (click)="deleteTask(_DATA, _DATA.id)"
          class="!tw-text-[#cb2929]"
          data-test="dialog-action-delete"
        >
          Delete
        </button>
      } -->

      <button
        mat-flat-button mat-dialog-close
        class="tw-mx-[20px]"
        (click)="taskFormComponent.status = 'close'"
        data-test="dialog-action-close"
      >
        <span>Close</span>
      </button>
    }
    @else if (taskFormComponent.status === 'update') {
      <button
        mat-button
        class="tw-mx-[20px]"
        (click)="cancelUpdate(taskFormComponent.taskForm); taskFormComponent.status = 'view';"
        data-test="dialog-action-cancel-update"
      >
        <span>Cancel</span>
      </button>
    }
    @else if (taskFormComponent.status === 'add') {
      <button
        mat-button mat-dialog-close
        class="tw-mx-[20px]"
        data-test="dialog-action-cancel"
      >
        <span>Cancel</span>
      </button>
    }

    @if (taskFormComponent.status === 'update') {
      <button
        mat-flat-button
        class="!tw-px-[50px] tw-mx-[20px]"
        (click)="updateTask(taskFormComponent.taskForm); taskFormComponent.status = 'view'; taskFormComponent.taskForm.markAsPristine();"
        [disabled]="taskFormComponent.taskForm.invalid"
        data-test="dialog-action-update"
      >
        Update
      </button>
    }
    @else if (taskFormComponent.status === 'add') {
      <button
        mat-flat-button
        class="!tw-px-[50px] tw-mx-[20px]"
        (click)="addTask(taskFormComponent.taskForm)"
        [disabled]="taskFormComponent.taskForm.invalid"
        data-test="dialog-action-add"
      >
        Add
      </button>
    }
  </div>
</div>


<ui-task-form
  #taskFormComponent
  [isDone]="_DATA?.status === 'done'"
  (deleteFn)="deleteTask($event)"
/>
