<div class="!tw-bg-[#ffffff] tw-flex tw-flex-row tw-w-full tw-justify-between ">
  <h2 mat-dialog-title class="">
    @if (status === 'view') {
      <span>Task Detail</span>
      @if (_data.isCompleted) {
        <span class="tw-px-[12px] tw-ml-[4px] tw-text-md tw-text-[#1aa318]">DONE</span>
      }
    }
    @else if (status === 'update') {
      <span>Update Task</span>
    }
    @else if (status === 'add') {
     <span>Add a New Task</span>
    }
  </h2>
  <div class="tw-flex tw-items-center">
    @if (status === 'view') {
      <button mat-button mat-dialog-close class="tw-mx-[20px]" (click)="status = 'close'">
        <span>Close</span>
      </button>
    }
    @else if (status === 'update') {
      <button mat-button class="tw-mx-[20px]" (click)="cancelUpdate()">
        <span>Cancel</span>
      </button>
    }
    @else if (status === 'add') {
      <button mat-button mat-dialog-close class="tw-mx-[20px]">
        <span>Cancel</span>
      </button>
    }

    @if (status === 'update') {
      <button
        mat-flat-button
        cdkFocusInitial
        class="!tw-px-[50px] tw-mx-[20px]"
        (click)="updateTask()"
        [disabled]="taskForm.invalid"
      >
        Update
      </button>
    }
    @else if (status === 'add') {
      <button
        mat-flat-button
        cdkFocusInitial
        class="!tw-px-[50px] tw-mx-[20px]"
        (click)="addTask()"
        [disabled]="taskForm.invalid"
      >
        Add
      </button>
    }
  </div>
</div>


<form [formGroup]="taskForm" class="tw-flex tw-flex-col tw-w-full">


  <mat-dialog-content class="mat-typography tw-h-screen !tw-max-h-[66vh]">
    <!-- <form [formGroup]="taskForm" class="tw-flex tw-flex-col tw-w-full"> -->
    <div class="tw-flex tw-flex-col tw-w-full">
      <input formControlName="title" type="text" placeholder="Task Title">
      <!-- (onContentChanged)="onContentChanged($event)" -->
      <quill-editor
        formControlName="description"
        [modules]="editorModules"
        [placeholder]="'Task description here...'"
        [theme]="'snow'"
        class="tw-h-[58vh]"
      ></quill-editor>
    </div>
    <!-- </form> -->

  <!-- <button (click)="saveContent()">Save</button> -->


  </mat-dialog-content>

  <mat-dialog-actions align="end" class="!tw-py-[0]">
    @if ((status === 'update' || status === 'view') && !_data.isCompleted) {
      <div class="tw-absolute tw-left-[12px]">
        <button mat-button (click)="deleteTask(_data.id)" class="!tw-text-[#cb2929]">Delete</button>
      </div>
    }

    <div class="datepicker">
      <span class="tw-mr-[4px]">Set Date:</span>
      <!-- <mat-form-field class="datepicker"> -->
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          readonly
          (click)="picker.open()"
          class="!tw-rounded-lg !tw-cursor-pointer !tw-h-[55px] !tw-text-sm !tw-hover:!tw-text-red-50"
        >
        <mat-datepicker #picker></mat-datepicker>
      <!-- </mat-form-field> -->
      <!-- <button mat-raised-button (click)="picker.open()" class="!tw-rounded-lg">Open</button> -->
    </div>

    <div>
      <span class="tw-mr-[4px]">Priority:</span>
      <mat-button-toggle-group formControlName="priority" class="!tw-rounded-lg add-form-btn-toggle">
        <mat-button-toggle value="low">Low</mat-button-toggle>
        <mat-button-toggle value="medium">Medium ⚠️</mat-button-toggle>
        <mat-button-toggle value="high">High ❗️</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-dialog-actions>


<!-- </form> -->
