<section class="page">
  <div class="tw-pb-3 tw-flex">
    <div class="tw-w-[50%]">
      @if (isSearch()) {
        <div>
          <ui-search (searchTermFn)="toSearch($event)" />
        </div>
      }
      @else {
        <div>
          <span class="tw-text-xl" [attr.data-test]="'page-title-' + PAGE.id">
            {{ PAGE.name | titlecase }}.&nbsp;
          </span>
          <span class="tw-text-sm tw-text-[#4d4d4d]">
            {{ PAGE.description }}
          </span>
        </div>
      }
    </div>

    <div class="tw-w-[50%] tw-pl-[12px] tw-flex tw-flex-row tw-items-center">
      <div class="tw-flex">
        @if (isSearch()) {
          <button
            mat-button
            class="tw-w-[7rem] tw-ml-[4px] tw-mb-[4px] !tw-px-2 tw-h-[46px]"
            (click)="closeSearch()"
          >
            Close
          </button>
        }
        @else {
          <button
            mat-button
            class="tw-w-[7rem] tw-ml-[4px] tw-mb-[4px] !tw-px-2 tw-h-[46px]"
            (click)="isSearch.set(true)"
          >
            Search
          </button>
        }
      </div>

      <div class="tw-flex tw-items-center">
        @if (SOURCE_PAGE !== 'completed') {
          <ui-filter-btn
            [value]="getFilterValue"
            [source]="SOURCE_PAGE"
            [view]="viewBoard ? 'board': 'list'"
            (filter)="filter($event)"
          />
        }

        <ui-sort-btn
          [value]="getSortValue"
          [source]="SOURCE_PAGE"
          [view]="viewBoard ? 'board': 'list'"
          (sort)="sort($event)"
        />
        <button
          mat-button
          class="tw-ml-[4px] tw-mb-[4px] !tw-px-2 tw-h-[46px] tw-cursor-pointer"
          (click)="setDefaultData()"
        >
          Reset
        </button>
        <button
          mat-button
          class="tw-ml-[4px] tw-mb-[4px] !tw-px-2 tw-h-[46px] tw-cursor-pointer"
          (click)="viewBoard = !viewBoard"
        >
          {{
            (
              viewBoard
                ? 'list'
                : 'board'
            ) | titlecase
          }}
        </button>
      </div>
    </div>
  </div>


  @if (viewBoard) {
    <ui-task-board
      [TASKS]="getTasks"
      [TASK_SERVICE]="_TASK_SERVICE"
      [SEARCH_TERM]="getSearchTerm"
      [FILTER_VALUE]="getFilterValue"
      [SORT_VALUE]="getSortValue"
    />
  }
  @else {
    <ui-task-list
      [TASKS]="getTasks"
      [TASK_SERVICE]="_TASK_SERVICE"
      [SEARCH_TERM]="getSearchTerm"
      [FILTER_VALUE]="getFilterValue"
      [SORT_VALUE]="getSortValue"
    />
  }

</section>