<section class="example-container side-nav" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
  <div class="tw-w-[218px] tw-inline-flex tw-items-center">
    <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
    <h1 class="example-app-name">Workie-Work</h1>

  </div>

    <app-ui-widget-summary></app-ui-widget-summary>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="true"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      class="!tw-w-[220px]"
    >
      <mat-nav-list class="tw-h-full">
        <div class="tw-flex tw-flex-col tw-h-full">
          <div class="tw-flex-1">
            @for (nav of navigations; track nav) {
              @if (nav.position === 'top') {
                <div>
                  <a mat-list-item routerLink="{{nav.page}}" routerLinkActive="active">
                    {{ nav.name | titlecase }}
                  </a>
                </div>
              }
            }
          </div>
          <div>
            <button mat-raised-button class="tw-w-[7rem] tw-ml-[4px] tw-mb-[4px] !tw-px-0" (click)="addTask()">
              Add task +
            </button>
          </div>
          <div class="tw-mt-auto tw-pb-[40px]">
            @for (nav of navigations; track nav) {
              @if (nav.position === 'bottom') {
                <div>
                  <a mat-list-item routerLink="{{nav.page}}">
                    {{ nav.name | titlecase }}
                  </a>
                </div>
              }
            }
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{
      '!tw-ml-[225px]': snav.opened
    }">
      <!-- @for (content of fillerContent; track content) {
        <p>{{content}}</p>
      } -->
      <ng-content />
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
