.datepicker {
  input:hover {
    color: #005cbb;
  }
}

input {
  height: 40px;
  font-size: large;
  background-color: unset;
  border-color: unset;
}

input:focus-visible {
  outline: none;
  border: none;
}

:host ::ng-deep .ql-container {
  border: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .ql-editor {
  font-size: 14px !important; /* Set default font size */
  padding: 12px 0;
}

:host ::ng-deep .ql-editor::before {
  font-style: normal; /* Removes italic from placeholder */
  color: #999;; /* Optional: Customize placeholder color */
}

:host ::ng-deep .ql-editor.ql-blank::before {
  left: 0;
}

::ng-deep .add-form-btn-toggle.mat-button-toggle-group-appearance-standard {
  border: unset !important;
  border-radius: unset !important;

  .mat-button-toggle-appearance-standard {
    border: unset !important;
  }
}


:host ::ng-deep .form-priority {
  &.mat-mdc-form-field {
    height: 50px !important;
    width: 150px !important;
    // --mdc-outlined-text-field-container-height: 36px;
    // font-size: 13px;
  }
  & .mat-mdc-form-field-infix {
    padding-bottom: 0 !important;
    padding-top: 4px !important;
  }

  // & .mdc-text-field {
  //   top: 8px !important;
  // }
  // & .mat-mdc-select-trigger {
  //   top: -12px !important;
  // }
  // & .ng-touched .mat-mdc-select-trigger {
  //   top: -2px !important;
  // }
  // & .mdc-line-ripple {
  //   display: none !important;
  // }
  // & .mat-mdc-form-field-focus-overlay  {
  //   height: 40px !important;
  // }
}
