<form [formGroup]="taskForm" class="tw-flex tw-flex-col tw-w-full">
  <mat-dialog-content class="mat-typography !tw-overflow-hidden">
    <div class="tw-flex tw-flex-col tw-w-full">
      <input
        formControlName="title"
        type="text"
        placeholder="Task Title"
        data-test="task-title-input"
      >
      <quill-editor
        formControlName="description"
        [modules]="editorModules"
        [placeholder]="'Task description here...'"
        [theme]="'snow'" d
        class="tw-h-[58vh]"
        data-test="task-description-input"
      />
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="!tw-py-[0] !tw-my-[-10px]">
    <!-- && _DATA.status !== 'done' -->
    @if ((status === 'update' || status === 'view')) {
      <div class="tw-absolute tw-flex tw-items-center tw-left-[12px]">
        <button
          mat-button
          (click)="deleteFn.emit(_DATA)"
          class="!tw-text-[#cb2929]"
          data-test="dialog-action-delete"
        >
          Delete
        </button>
        @if (_DATA.createdAt) {
          <div class="tw-flex tw-flex-row tw-w-full tw-justify-start tw-text-sm">
            <div class="tw-ml-[10px]">
              <span>
                <span class="tw-text-[#005CBB]">Created:</span>
                {{ _DATA.createdAt | date: 'mediumDate' }}
              </span>
            </div>
            <div class="tw-ml-[24px]">
              <span>
                <span class="tw-text-[#005CBB]">Updated:</span>
                {{ _DATA.updatedAt | date: 'mediumDate' }}
              </span>
            </div>
          </div>
        }
      </div>
    }

    <div class="datepicker tw-flex tw-items-center">
      <span class="tw-mr-[4px] tw-text-[#005CBB] tw-text-sm" data-test="due-date-label">
        Due Date:
      </span>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="dueDateMin"
        formControlName="dueDate"
        readonly
        (click)="picker.open()"
        class="!tw-rounded-lg !tw-cursor-pointer !tw-h-[55px] !tw-w-[130px] !tw-text-sm !tw-hover:!tw-text-red-50"
        data-test="due-date-input"
      >
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="tw-items-center">
      <span class="tw-mr-[4px] tw-text-[#005CBB] tw-text-sm" data-test="priority-label">
        Priority:
      </span>

      <mat-form-field class="form-priority tw-mt-[16px]">
        <mat-select formControlName="priority">
          <mat-option value="low" data-test="priority-selection-low">Low</mat-option>
          <mat-option value="medium" data-test="priority-selection-medium">Medium ⚠️</mat-option>
          <mat-option value="high" data-test="priority-selection-high">High ❗️</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-button-toggle-group formControlName="priority" class="!tw-rounded-lg add-form-btn-toggle">
        <mat-button-toggle value="low" data-test="priority-selection-low">
          Low
        </mat-button-toggle>
        <mat-button-toggle value="medium" data-test="priority-selection-medium">
          Medium ⚠️
        </mat-button-toggle>
        <mat-button-toggle value="high" data-test="priority-selection-high">
          High ❗️
        </mat-button-toggle>
      </mat-button-toggle-group> -->
    </div>
  </mat-dialog-actions>
</form>
