<section class="tw-grid tw-grid-cols-4 tw-gap-4">

  <span>{{totalHighPriority}} High Priority</span>
  <span>{{totalCompleted}} Completed</span>
  <span>{{totalTodo}} Todo</span>
  <span>{{totalAll}} All</span>


  <!-- <mat-card appearance="outlined">
    <mat-card-content>10/12</mat-card-content>
    <mat-card-footer class="example-card-footer">
      All tasks
    </mat-card-footer>
  </mat-card>

  <span></span>

  <mat-card appearance="outlined">
    <mat-card-content>10/12</mat-card-content>
    <mat-card-footer class="example-card-footer">
      Completed tasks
    </mat-card-footer>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>10/12</mat-card-content>
    <mat-card-footer class="example-card-footer">
      Todo tasks
    </mat-card-footer>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>10/12</mat-card-content>
    <mat-card-footer class="example-card-footer">
      High Priority tasks
    </mat-card-footer>
  </mat-card> -->
</section>
