<div cdkDropListGroup class="tw-flex tw-justify-between">
  <div class="container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="GET_TODOS()"
      class="list tw-items-center"
      (cdkDropListDropped)="drop($event, 'todo')"
    >
      @for (item of GET_TODOS(); track item) {
        <div class="cdkDropBoxItem" cdkDrag [cdkDragData]="item">
          <div class="box" (click)="viewTaskUI(item)">
            <span class="hover:!tw-text-blue-600 hover:!tw-underline !tw-cursor-pointer">
              {{item?.title | titlecase}}
            </span>
          </div>

          <ng-container
            [ngTemplateOutlet]="priorityTemplate"
            [ngTemplateOutletContext]="{
              $implicit: item,
              priority: item?.priority,
              status: item?.status
            }"
          />
        </div>
      }

      @if (GET_TODOS().length === 0) {
        <ng-container [ngTemplateOutlet]="emptyTemplate" />
      }
    </div>
  </div>

  <div class="container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="GET_IN_PROGRESS()"
      class="list tw-items-center"
      (cdkDropListDropped)="drop($event, 'inprogress')"
    >
      @for (item of GET_IN_PROGRESS(); track item) {
        <div class="cdkDropBoxItem" cdkDrag [cdkDragData]="item">
          <div class="box" (click)="viewTaskUI(item)">
            <span class="hover:!tw-text-blue-600 hover:!tw-underline !tw-cursor-pointer">
              {{item?.title | titlecase}}
            </span>
          </div>

          <ng-container
            [ngTemplateOutlet]="priorityTemplate"
            [ngTemplateOutletContext]="{
              $implicit: item,
              priority: item?.priority,
              status: item?.status
            }"
          />
        </div>
      }

      @if (GET_IN_PROGRESS().length === 0) {
        <ng-container [ngTemplateOutlet]="emptyTemplate" />
      }
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="GET_DONE()"
      class="-ist tw-items-center"
      (cdkDropListDropped)="drop($event, 'done')"
    >
      @for (item of GET_DONE();track item) {
        <div class="cdkDropBoxItem" cdkDrag [cdkDragData]="item">
          <div class="box" (click)="viewTaskUI(item)">
            <span class="hover:!tw-text-blue-600 hover:!tw-underline !tw-cursor-pointer">
              {{item?.title | titlecase}}
            </span>
          </div>

          <ng-container
            [ngTemplateOutlet]="priorityTemplate"
            [ngTemplateOutletContext]="{
              $implicit: item,
              priority: item?.priority,
              status: item?.status
            }"
          />
        </div>
      }

      @if (GET_DONE().length === 0) {
       <ng-container [ngTemplateOutlet]="emptyTemplate" />
      }
    </div>
  </div>
</div>


<ng-template #priorityTemplate let-item let-priority="priority" let-status="status">
  @if (item && (priority !== 'low') && (status !== 'done')) {
    <span class="tw-px-[12px] tw-mr-[4px]">{{item.priority | priority}}</span>
  }
</ng-template>


<ng-template #emptyTemplate>
  <div class="tw-text-sm tw-mx-[10px] tw-mt-[20px]">
    Empty.
  </div>
</ng-template>