<section>
  <!-- <div class=""> -->
    <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      @for (task of TASKS; track task) {
        <div class="example-box" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div>
            <p class="tw-text-lg">{{task.title  | slice:0:100 }}</p>
            <span class="tw-text-sm" [innerHTML]="task.description  | slice:0:350"></span>
            <span>{{ task.description.length > 350 ? '...' : '' }}</span>
          </div>
        </div>
      }
    </div> -->

    <div
      class="list-container">
    <cdk-virtual-scroll-viewport itemSize="0" autosize class="viewport">
      <div *cdkVirtualFor="let task of TASKS; trackBy: trackById; let i = index" class="list-item tw-pb-[12px]">
        <!-- {{ item }} -->
        <!-- <div class=""> -->
          <div class="tw-bg-[#fff] tw-rounded-lg tw-p-[12px]">
            <div class="tw-text-lg tw-flex tw-justify-between">
              <div>
                <mat-checkbox class="example-margin"></mat-checkbox>

                <!-- {{task.id}}+ -->
                {{task.title | titlecase | slice:0:100 }}
              </div>

              <div>
                <button mat-button (click)="deleteTask(task.id)">Delete</button>
                <button mat-button (click)="viewTask(task)">View</button>
              </div>
            </div>

            <div class="tw-text-sm tw-pl-[45px]">
              <span [innerHTML]="task.description  | slice:0:350"></span>
             <span>{{ task.description.length > 350 ? '...' : '' }}</span>
            </div>

          </div>
        <!-- </div> -->
      </div>
    </cdk-virtual-scroll-viewport>
</div>
  <!-- </div> -->



</section>
